
.player_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    flex-direction: column;
}

.player_block {
    display: flex;
    flex-direction: row;
}

.player {
    background: lightgray;
    border-radius: 30px;
    max-width: 240px;
    max-height: 200px;
    height: 100%;
    width: 240px;
    padding: 25px;
}

.randomSong {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 240px;
}

.player_title {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.player_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    pointer-events: none;
}

.player_buttons_btn {
    cursor: pointer;
}

.selectButton {
    cursor: pointer;
}

.player_play_src {
    width: 30px;
    height: 30px;
    margin-left: -5%;
    padding: 0;
}

.player_progress_container {
    border-radius: 5px;
    background-color: ghostwhite;
    width: 100%;
    height: 10px;
    display: flex;
    align-items: center;
    align-self: center;
}

.player_progress {
    background-color: darkviolet;
    border-radius: 5px;
    height: 6px;
}

.player_wrapper {
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Play', sans-serif;
}

section {
    margin: 0 auto;
    max-width: 768px;
 }

table {
    font-size: 18px;
    background: white;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin: 0 auto 20px;
 }

td {
    transition: .3s linear;
 }

table a{
    color: inherit;
    text-decoration: none;
 }

table a:hover{
    text-decoration: underline;
 }

table th {
    font-size: 20px;
    font-weight: normal;
    color: #039;
    padding: 10px 15px;
 }

table td {
    color: #669;
    border-top: 1px solid #e8edff;
    padding: 10px 15px;
 }

 table tr:hover td {
    background: #e8edff;
 }
 .players_ordered_list {
    counter-reset: li;
    list-style: none;
    font: 14px "Trebuchet MS", "Lucida Sans";
    padding: 0;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    cursor: default;
}

.player_show_track_button {
    font-size: 12px;
    display: block;
    text-align: right;
    cursor: pointer;
    color: #666699;
}

.player_track_name{
    text-align: center;
    display: flex;
    justify-content: center;
}

.players_ordered_list a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #DAD2CA;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
}

.players_ordered_list a:hover {
    background: #E9E4E0;
}

.players_ordered_list a:hover:before {
    transform: rotate(360deg);
}

.players_ordered_list a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #8FD4C1;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

.players_input_group {
    display: flex;
    position: relative;
    margin-bottom: 30px;
    margin-top: 30px;
    justify-content: center;

}

.players_input {
    font-size: 16px;
    padding: 15px;
    display: block;
    width: 250px;
    height: 0px;
    overflow-y: hidden;
    resize: none;
    border-radius: 5px;
    border: 1px solid grey;
    padding-bottom: 32px;
    background-color: inherit;

}

.players_input:focus {
    outline: none;
}

.players_label {
    color: #999;
    font-size: 18px;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 15px;
    border-radius: 15px;
    padding-right: 12px;
    padding-left: 4px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background-color: ghostwhite;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.players_input:focus ~ label, .inputMaker:valid ~ label {
    top: -10px;
    font-size: 12px;
    color: #5264AE;

}

.players_bar {
    position: relative;
    display: block;
    width: 320px;

}

.players_bar:before, .bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.players_bar:before {
    left: 50%;
}

.players_bar:after {
    right: 50%;
}

.players_inc_score_button {
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    height: 100%;
}

.players_score_block {
    max-width: 400px;
    max-height: 300px;
    overflow-y: auto;
    margin-left: 30px;
    border-radius: 15px;
    border: black 1px solid;
    padding: 25px;
}

.players_list_item {
    display: flex;
    flex-direction: row;
}

.players_score_table_td {
    text-align: center;
}

/* ------------ */
