<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Play', sans-serif;
}

.btn{
    text-decoration: none;
    color: #000;
}

.btn:hover{
    text-decoration: underline;
}
=======
.player_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    flex-direction: column;
}
.randomSong{
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 240px;

}
.player{
    background: lightgray;
    border-radius: 30px;
    max-width: 240px;
    width: 100%;
    padding: 25px;
}
.player_title{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}
.player_buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    pointer-events: none;
}
.player_buttons_btn{
    cursor: pointer;
}
.selectButton{
    cursor: pointer;
}
.player_play_src {
    width: 30px;
    height: 30px;
    margin-left: -5%;
    padding: 0;
}
.player_progress_container{
    border-radius: 5px;
    background-color: ghostwhite;
    width: 100%;
    height: 10px;
    display: flex;
    align-items: center;
    align-self: center;
}
.player_progress{
    background-color: darkviolet;
    border-radius: 5px;
    height: 6px;
}
>>>>>>> fae74553abbb97cabd2ed00083c929315436d7ae
