.player_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}
.player{
    background: lightgray;
    border-radius: 30px;
    max-width: 240px;
    width: 100%;
    padding: 25px;
}
.player_title{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-bottom: 15px;
}
.player_buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.player_buttons_btn{
    cursor: pointer;
}
.player_play_src {
    width: 30px;
    height: 30px;
    margin-left: -5%;
    padding: 0;
}

.player_progress_container{
    border-radius: 5px;
    background-color: ghostwhite;
    width: 100%;
    height: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    align-self: center;
}
.player_progress{
    background-color: darkviolet;
    border-radius: 5px;
    height: 6px;
    width: 100%;
}
